body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

header {
    display: flex;
    justify-content: center;
    background-color:midnightblue;

}

.entete {
    padding: 20px 0;
    flex-basis: 80%;
    color:aliceblue;
   
}
/* Fin  HEADER  */

/* Accueil */

.accueil {
    display: flex;
    justify-content: space-between;
    height: 600px;
    
   
}
/*.btn-welcome {
    border: 2px solid var(--white-color);
    color: var(--white-color);
    padding: 1px 25px;
    border-radius: 5px;
    background-color: transparent;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 100px;
}*/

   
    /*Fin Accueil*/
    /* FOOTER */
    footer {
    display: flex;
    justify-content: center;
    background-color: midnightblue;
}

.footer-container {
    padding: 20px 0;
    padding: 20px 0;
    flex: 0 1 80%;
    background-color: midnightblue;
}

    .footer-container p {
        /*color: var(--white-color);*/
        line-height: 19px;
        margin: 10px 0;
        padding: 0;
        font-size: 15px;
        font-weight: normal;
        color: aliceblue;
    }
/* Fin  FOOTER */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 400px;
  /*Encadré pour voir les limites du formulaire */
  padding: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 90px;
  text-align: right;
}
/*.button {
  /* Pour placer le bouton à la même position que les champs texte */

  /*padding-left: 90px;  même taille que les étiquettes 
  margin-left: .5em;
  text-align: center;*
  margin: 0 auto;
}*/
#session{
  margin: 0 auto;
  text-align: center;
}
/*button {
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte 
  margin-left: .5em;
  text-align: center;
}*/
#entete, #statistique, #contenu,#main {
padding:1px 0;
}
#entete {
background-color:black;
text-align:center;
color: white;
}
#main {
max-width:960px;
margin:auto;
}
#statistique  {/* Endroit pour les message */
float:left;
width:240px;
background-color:grey;
}
#contenu { /* Endroit pour les message */
margin-left:245px;
background-color:silver;
}
.unMessage{
  margin: 2em auto;
  width: 400px;
  /*Encadré pour voir les limites du formulaire */
  padding: 2em;
  border: 2px solid black;
  border-radius: 1em;
}
#posted{
  text-decoration-color: blue;
  margin: 0 auto;
  text-align: left;
}
